
<section>
	<div class="container text-center h_d">
		<div class="heading_docs_img">
			<img src="assets/img/heading_docs.png" class="img-fluid  alt="">
		</div>
		<h4>
			строительство дело ответственное и чтобы нам и вам спалось спокойно <br>
мы соблюдаем Снип, строим строго по проекту и готовим полный <br>
<span>комплект документов:</span>
		</h4>
	</div>
</section>
<section class="docs" id="docs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <ul class="li_square">
                    <li>эскиз</li>
                    <li>расчет на прочность</li>
                    <li>план на нулевой отметке</li>
                    <li>чертеж фермовых конструкций</li>
                    <li>спецификация на металлокаркас</li>
                </ul>
            </div>
            <div class="col-lg-6 col-sm-12">
                <ul class="li_square">
                    <li>спецификация на сэндвич-панели</li>
                    <li>спецификация фасонных элементов</li>
                    <li>конструкторская карта на ворота</li>
                    <li>договор</li>
                    <li>гарантия</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="call_action">
    <div class="container">
        <div class="row call_to_action">
            <div class="col-lg-8 col-md-6 col-sm-12 ">
                <h1>Бесплатно сделаем замер</h1>
                <p>
                    Наши строители прекрасно разбираются в технологии,
                    <br> бесплатно проконсультируют, сделают замер и
                    <br> рассчитают лучший для вас вариант
                </p>
            </div>
            <div class="col-lg-4 col-md-6  col-sm-12 btn_action align-self-center">
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">записаться на замер</button>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 text-left">
                <div class="logo_footer">
                    <img src="assets/img/logo_footer.png" alt="Footer logo">
                </div>
                <p class="contacts_sub_logo">
                    Телефон: +7(351)250-26-00
                    <br> Почта: promopkf@mail.ru
                </p>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="row footer_menu">
                    <div class="col-md-6">
                        <a href="#">преимущества</a>
                        <br>
                        <a href="#">акции  </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#">Портфолио</a>
                        <br>
                        <a href="#">Конструктор </a>
                    </div>
                </div>
                <div class="footer_addres text-center">
                    <h3>Адрес: г. Челябинск, ул. Тарасова, 52</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 text-right">
                <div class="contact_info_footer">
                    <h3>+7 (351) 250-26-00</h3>
                    <p>
                        Бесплатно ответим
                        <br> на все вопросы по телефону
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal_action_form">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">бесплатный замер</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form_modal" >
          <div class="form-group">
            <label  class="form-control-label">имя</label>
            <input type="text" name="name" class="form-control" id="modal_name">
          </div>
          <div class="form-group">
            <label class="form-control-label">ТЕЛЕФОН</label>
            <input type="phone" name="phone" class="form-control" id="modal_phone"> 
          </div>
          <div class="btn_modal text-center">
          	<button type="submit" class="btn btn-primary">записаться на замер</button>
          </div>
          
        </form>
      </div>
      
  </div>
</div>
<script src="assets/js/main.js"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter45734196 = new Ya.Metrika({
                    id:45734196,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/45734196" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>

</html>