<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 text-left">
                <div class="logo_footer">
                    <img src="assets/img/logo_footer.png" alt="Footer logo">
                </div>
                <p class="contacts_sub_logo">
                	Телефон: +7(351)250-26-00 <br>
					Почта: promopkf@mail.ru
                </p>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="row footer_menu">
                    <div class="col-md-6">
                        <a href="#">преимущества</a>
                        <br>
                        <a href="#">акции  </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#">Портфолио</a>
                        <br>
                        <a href="#">Конструктор </a>
                    </div>
                </div>
                <div class="footer_addres text-center">
                    <h3>Адрес: г. Челябинск, ул. Тарасова, 52</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 text-right">
                <div class="contact_info_footer">
                    <h3>+7 (351) 250-26-00</h3>
                    <p>
                        Бесплатно ответим
                        <br> на все вопросы по телефону
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="assets/js/main.js"></script>
</body>

</html>