<nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #292c3d;">
    <div class="container">
        <a class="navbar-brand" href="#">
        <img src="assets/img/logo.png" class="d-inline-block align-top" alt="">
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarSupportedContent">
            <ul class="navbar-nav ">
                <li class="nav-item active">
                    <a class="nav-link" href="#">преимущества <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">акции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Портфолио</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">сравнения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Конструктор</a>
                </li>
            </ul>
        </div>
        <div class="flex-md-column justify-content-md-end text-right">
            <span class="navbar-text worck_time">пн. - пт. с 9:00 - 22:00</span>
            <span class="navbar-text phone_number">+7 (351) 250-26-00</span>
        </div>
    </div>
</nav>