<section class="one" id="appearance">
    <div class="container">
        <div class="row equal text-center positiv">

            <div class="col-md-4  col-sm-6 card_light">
                <div class="footer-widget">
                    <div class="card  positiv_card mb-3">
                        <div class="card-body text-dark">
                            <h2 class="card-title">стройка <br>без стресса</h2>
                            <p class="card-text">Ваше присутствие на стройке
                                <br>не требуется, мы сами
                                <br>организуем работы и
                                <br>доставку материалов</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4  col-sm-6 card_dark">
                <div class="footer-widget">
                    <div class="card positiv_card mb-3">
                        <div class="card-body text-light">
                            <h2 class="card-title">надежно</h2>
                            <p class="card-text">используем современные <br>материалы и строим <br>с запасом прочности</p>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-md-4  col-sm-6 card_light">
                <div class="footer-widget">
                    <div class="card  positiv_card mb-3">
                        <div class="card-body text-dark">
                            <h2 class="card-title">стройка <br>без стресса</h2>
                            <p class="card-text">Ваше присутствие на стройке
                                <br>не требуется, мы сами
                                <br>организуем работы и
                                <br>доставку материалов</p>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="col-md-4  col-sm-6 card_dark">
                <div class="footer-widget">
                    <div class="card positiv_card mb-3">
                        <div class="card-body text-light">
                            <h2 class="card-title">надежно</h2>
                            <p class="card-text">используем современные <br>материалы и строим <br>с запасом прочности</p>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-md-4  col-sm-6 card_light">
                <div class="footer-widget">
                    <div class="card  positiv_card mb-3">
                        <div class="card-body text-dark">
                            <h2 class="card-title">стройка <br>без стресса</h2>
                            <p class="card-text">Ваше присутствие на стройке
                                <br>не требуется, мы сами
                                <br>организуем работы и
                                <br>доставку материалов</p>
                        </div>
                    </div>
                </div>
            </div>

             <div class="col-md-4  col-sm-6 card_dark">
                <div class="footer-widget">
                    <div class="card positiv_card mb-3">
                        <div class="card-body text-light">
                            <h2 class="card-title">надежно</h2>
                            <p class="card-text">используем современные <br>материалы и строим <br>с запасом прочности</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>