<section class="three" id="sales">
    <div class="heading_title">
        <div class="container">
            <div class="row">
                <div class="col-md-8  col-sm-12 tetx-left sales_h">
                    <img src="assets/img/sales_h.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-4  col-sm-12 text-right sales_sh">
                    <img src="assets/img/sales_sh.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row equal text-center prices gutters_min">
            <div class="col-sm-6 col-md-3">
                <div class="card prices_items">
                    <div class="card-header">
                        <a href="#">
                            <h4 class="card-title">гараж 4х6 <br>“стандарт”</h4></a>
                    </div>
                    <img class="card-img-top" src="assets/img/price_1.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="old_price">
                            <del> 530.000</del>
                            <del><small>руб</small></del>.
                        </div>
                        <div class="new_price">
                            450.000 руб.
                        </div>
                        <div class="no_fundament">
                            без фундамента 380.000 руб.
                        </div>
                        <div class="garaj_items">
                            окно
                            <br> теплая дверь
                        </div>
                        <p class="card-text">
                            автоматические теплые ворота
                            <br>открываются с кнопки
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card prices_items">
                    <div class="card-header">
                        <a href="#">
                            <h4 class="card-title">гараж 5,5х10 <br>“Пристрой”</h4></a>
                    </div>
                    <img class="card-img-top" src="assets/img/price_1.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="old_price">
                            <del>800.000</del>
                            <del><small>руб</small></del>.
                        </div>
                        <div class="new_price">
                            680.000 руб.
                        </div>
                        <div class="no_fundament">
                            без фундамента 540.000 руб.
                        </div>
                        <div class="garaj_items">
                            окно - 2 шт.
                            <br> теплая дверь
                        </div>
                        <p class="card-text">
                            автоматические теплые ворота
                            <br>открываются с кнопки
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card prices_items">
                    <div class="card-header">
                        <a href="#">
                            <h4 class="card-title">гараж 6х8 на 2 авто <br>“двускатный”</h4></a>
                    </div>
                    <img class="card-img-top" src="assets/img/price_1.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="old_price">
                            <del>875.000</del>
                            <del><small>руб</small></del>.
                        </div>
                        <div class="new_price">
                            745.000 руб.
                        </div>
                        <div class="no_fundament">
                            без фундамента 620.000 руб.
                        </div>
                        <div class="garaj_items">
                            &nbsp;
                            <br> теплая дверь
                        </div>
                        <p class="card-text">
                            автоматические теплые ворота
                            <br>открываются с кнопки - 2 шт.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="card prices_items">
                    <div class="card-header">
                        <a href="#">
                            <h4 class="card-title">гараж 6х8 на 2 авто <br>“односкатный”</h4></a>
                    </div>
                    <img class="card-img-top" src="assets/img/price_1.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="old_price">
                            <del>847.000</del>
                            <del><small>руб</small></del>.
                        </div>
                        <div class="new_price">
                            720.000 руб.
                        </div>
                        <div class="no_fundament">
                            без фундамента 595.000 руб.
                        </div>
                        <div class="garaj_items">
                            &nbsp;
                            <br> теплая дверь
                        </div>
                        <p class="card-text">
                            автоматические теплые ворота
                            <br>открываются с кнопки - 2 шт.
                        </p>
                    </div>
                </div>
            </div>

        </div>
</section>