<div class="main_slider" id="portfolio" style="background: linear-gradient(rgba(41, 44, 61, 0.90), rgba(41, 44, 61, 0.90)), url(assets/img/slider_big_1.png) no-repeat center fixed;">
<div class="container">
<div id="sync1" class="owl-carousel owl-theme" style="width:100%">
    <div class="item"/>
	    <div>
	    	<img src="assets/img/slider_big_1.png" alt="">
	    </div>
	</div>
	<div class="item" />
		    <div>
		    	<img src="assets/img/slider_big_2.png" alt="">
		    </div>
	</div>
	<div class="item" />
	    <div>
	    	<img src="assets/img/slider_big_3.png" alt="">
	    </div>
	</div>
	<div class="item" />
	    <div>
	    	<img src="assets/img/slider_big_2.png" alt="">
	    </div>
	</div>
</div>
</div>
</div>


<div class="slide_nav_thumb">
<div class="container">
    <div id="sync2" class="owl-carousel owl-theme" style="width:100%">
        <div class="item" />
        <div>
            <img src="assets/img/slider_big_1.png" alt=""></div>
    </div>
    <div class="item" />
    <div>
        <img src="assets/img/slider_big_2.png" alt=""></div>
</div>
<div class="item" />
<div>
    <img src="assets/img/slider_big_3.png" alt=""></div>
</div>
<div class="item" />
<div>
    <img src="assets/img/slider_big_2.png" alt=""></div>
</div>
</div>
</div>

</div>