    /*- Extra small devices (portrait phones, less than 576px)-*/

    @media (max-width: 575px) {
        .main_title {
            font-size: 2em;
        }
        .sh_action_btn {
            font-size: 1rem;
            margin-top: 0;
            margin-bottom: 15px;
        }
        .bd-masthead {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        #sync1.owl-theme .owl-next {
            right: 25px;
        }
        #sync1.owl-theme .owl-prev {
            left: 25px;
        }
        .form_data {

        padding: 30px;
}
.hidden-xs {
    display: none;
}
.visible-xs {
    display: block;
}
    }
    /*- Small devices (landscape phones, 576px and up)-*/

    @media (min-width: 576px) and (max-width: 767px) {
        .sh_action_btn {
            font-size: 2rem;
        }
        #sync1.owl-theme .owl-next {
            right: 25px;
        }
        #sync1.owl-theme .owl-prev {
            left: 25px;
        }
    .hidden-sm {
    display: none;
}
.hidden-xs {
    display: none;
}
.visible-xs {
    display: block;
}
    }
    /*- Medium devices (tablets, 768px and up)-*/

    @media (min-width: 768px) and (max-width: 991px) {
        .main_title {
            font-size: 2em;
        }
        .sub_title {
            font-size: 16px;
        }
        .btn_action .btn-primary {
            font-size: 1.6em;
        }
        .heading_docs_img:before {
            left: 238px;
            width: 70%;
        }
        .form_data {
        	padding: 15px;
        }
        #picture_map {
    width: 332px;
}
#sync2 .item, .canvas_builders {
    height: 250px !important;
}
.hidden-xs {
    display: none;
}
.visible-xs {
    display: block;
}
    }
    /*- Large devices (desktops, 992px and up)-*/

    @media (min-width: 992px) and (max-width: 1199px) {
        .main_title {
            font-size: 3em;
        }
        .sub_title {
            font-size: 18px;
        }
        .positiv:before {
            display: none;
        }
        .phone_number {
            font-size: 1.4em;
        }
        .prices_items .old_price,
        .prices_items h4.card-title {
            font-size: 20px;
        }
        .heading_docs_img:before {
            left: 319px;
            width: 66%;
        }
        .prices_items .card-text {
    font-size: 20px;
    margin-top: 15px;
}
    	.hidden-md {
    display: none;
}
.visible-md {
    display: block;
}

    }
    /*- Extra large devices (large desktops, 1200px and up)-*/

    @media (min-width: 1200px) {
    	.hidden-lg {
    display: none;
}
.visible-lg {
    display: block;
}
    }

    @media (max-width: 992px) {
        .positiv:before {
            display: none;
        }
        .contact_info_footer {
            text-align: center;
        }

        .row.footer_menu {
            text-align: center;
        }

        .logo_footer {
            text-align: center;
        }

        p.contacts_sub_logo {
            text-align: center;
        }

        .worck_time {
            margin-right: 15px;
        }
        span.apport_subtitle {
            font-size: 12px;
        }
        .prices_items .old_price,
        .prices_items h4.card-title {
            font-size: 18px;
        }
        #sync1 .owl-item img {
    min-height: auto;
}
#sync2 .item {

    height: auto;
}
.canvas_builders {
     height: auto; 

}
.hidden-xs {
    display: none;
}
.visible-xs {
    display: block;
}
    }

    @media (max-width: 768px) {
        .sales_sh {
            text-align: center !important
        }
        .heading_docs_img {
            display: none;
        }
        #sync2 .owl-item img {
            width: 365px;
        }
    }

    @media (max-width: 576px) {
        .container {
            max-width: 100%;
        }
        .table_info thead {
            font-size: 1rem;
        }

        .table_info tbody {
            font-size: 1rem;
        }
    }