body {
    font-family: BebasNeue;
}

.header_info {
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    font-family: 'CenturyGothic';
}

.phone_number {
    font-family: BebasNeueBold;
    font-size: 1.9em;
    color: #c89f73 !important;
    padding-top: 0rem;
}

.worck_time {
    padding-bottom: 0;
    color: #fff !important;
    font-size: 1em;
}

.bd-masthead {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #4e566d;
    color: #fff;
}

.main_title {
    font-size: 4em;
}

.sub_title {
    font-family: 'CenturyGothic';
    font-size: 20px;
}

.sh_action_btn {
    background: #c89f73;
    font-family: BebasNeueBold;
    font-size: 38px;
    border-radius: 2px;
    border: none;
    margin-top: -85px;
    color: #292c3d;
    box-shadow: 0px 0px 15px 0px #000;
}

.sh_action_btn:hover {
    color: #2e1101;
    background-color: #af815a;
    border-color: #af815a;
}

h2.apport_title {
    font-family: BebasNeueBold;
}

span.apport_subtitle {
    font-family: 'CenturyGothic';
    font-size: 16px;
    text-transform: uppercase;
}

.border-primary {
    border-color: #ffffff !important;
}

.apport .footer-widget {
    padding: 30px 0px;
}

.apport {
    background: #434a5d;
    margin-top: 40px;
}

section.one {
    padding: 45px 0px;
}

.card_dark {
    background: #292c3d;
}

.card_dark .card,
.card_light .card {
    border: none;
    background: transparent;
}

.card_dark {
    background: #292c3d;
}

.card_dark .card,
.card_light .card {
    border: none;
    background: transparent;
}


.text-dark>h2.card-title {
    color: #c89f73;
    font-family: BebasNeueBold;
    font-size: 41px;
}

.text-light>h2.card-title {
    color: #c89f73;
    font-family: BebasNeueBold;
    font-size: 41px;
}


.text-light>.card-text {
    font-family: 'CenturyGothic';
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.text-dark>.card-text {
    font-family: 'CenturyGothic';
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.positiv .footer-widget {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.positiv {
    position: relative;
}

.positiv:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: -85px;
    width: 80px;
    height: 100%;
    background: url(../img/positiv.png) no-repeat;
    background-size: cover;
}

.two {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #4e566d;
    color: #fff;
}

.heading_title {
    background: #292c3d;
    margin-bottom: 20px;
}

.three {
    margin-top: 5px;
    padding-bottom: 0rem;
}



.prices_items {
    background: #4e566d;
    color: #fff;
    padding-bottom: 30px;
    border-radius: 0 !important
}


.prices_items h4.card-title {
    font-family: BebasNeueBold;
    font-size: 30px;
    color: #fff;
}

.prices_items .old_price {
    font-size: 30px;
    font-family: BebasNeueBold;
}

.prices_items .new_price {
    color: #c89f73;
    font-size: 36px;
    font-family: BebasNeueBold;
    background: #292c3d;
    margin: 0 -0.50rem;
}

.prices_items .no_fundament {
    font-size: 24px;
    font-family: BebasNeue;
    margin-bottom: 15px;
}

.prices_items .garaj_items {
    color: #c89f73;
    font-size: 30px;
    font-family: BebasNeue;
}

.prices_items .card-text {
    color: #c89f73;
    font-size: 22px;
    font-family: BebasNeueBold;
    margin-top: 15px;
}

.prices_items a {
    text-decoration: none;
}

.gutters_min {
    margin-right: 0;
    margin-left: 0;

    >.col,
    >[class*="col-"] {
        padding-right: 2.5px;
        padding-left: 2.5px;
    }
}

.prices_items .card-img-top {
    border: none;
    border-radius: 0;
}

.prices_items .card-body {
    padding: 0.25rem;
}

.five {
    background: #292c3d;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

h2 {}

.offers>h2 {
    color: #c89f73;
    font-size: 4rem;
    font-family: BebasNeueBold;
}

.offers>p {
    color: #ffffff;
    font-size: 2rem;
    font-family: BebasNeue;
}


.offers>.btn-primary {
    color: #292c3d;
    background-color: #c89f73;
    border-color: #ffffff;
    font-family: BebasNeueBold;
    font-size: 2em;
    border-width: 3px;
    cursor: pointer;
}

footer {
    margin-top: 10px;
    background: #292c3d;
    color: #fff;
    padding: 2rem 0 1rem;
}

.contact_info_footer>h3 {
    /* color: #c89f73; */
    font-size: 46px;
    font-family: BebasNeueBold;
}

.contact_info_footer>p {
    color: #c89f73;
    font-size: 30px;
    font-family: BebasNeueBold;
}

.footer_addres>h3 {
    font-family: 'CenturyGothic';
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
}

.row.footer_menu a {
    color: #fff;
    font-family: 'CenturyGothic';
    font-size: 14px;
    text-transform: uppercase;
}

p.contacts_sub_logo {
    margin-top: 15px;
    font-family: CenturyGothic;
    font-weight: bold;
    font-size: 18px;
}

section.call_action {
    background: #4e566d;
    color: #fff;
    padding: 2rem 0;
    margin-top: 5px;
}

.call_to_action h1 {
    color: #c89f73;
    font-size: 60px;
    font-family: BebasNeueBold;
}

.call_to_action p {
    color: #ffffff;
    font-size: 30px;
    font-family: BebasNeueBold;
}

.btn_action {}

.btn_action .btn-primary {
    color: #292c3d;
    background-color: #c89f73;
    border-color: #fff;
    font-family: BebasNeueBold;
    font-size: 2em;
    border-width: 3px;
    cursor: pointer;
}

ul.li_square {
    list-style: square inside url("../img/li_sq.png");
}

ul.li_square li {
    color: #292c3d;
    font-size: 23px;
    font-family: BebasNeueBold;
}

.docs {
    background: #c89f73;
    margin-top: 5px;
    padding: 2rem 0;
}

.heading_docs_img {
    position: relative;
    margin-bottom: 25px;
}

.heading_docs_img:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 411px;
    width: 50%;
    height: 140px;
    background: #4e566d;
}


.h_d h4 {
    font-family: 'CenturyGothic';
    font-size: 14px;
    font-weight: bold;
    color: #4e566d;
}

.h_d span {
    font-size: 18px;
}

.m_t {
    margin-top: 15px;
}


/*---- Carousel ----*/

#sync1 {
    .item {
        margin: 5px;
        color: #FFF;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
    }
}

#sync2 {
    .item {
        background: #C9C9C9;
        padding: 10px 0px;
        margin: 5px;
        color: #FFF;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
        h1 {
            font-size: 18px;
        }
    }
    .current .item {
        background: #0c83e7;
    }
}



.owl-theme {
    .owl-nav {
        /*default owl-theme theme reset .disabled:hover links */
        [class*='owl-'] {
            transition: all .3s ease;
            &.disabled:hover {
                background-color: #D6D6D6;
            }
        }
    }
}

//arrows on first carousel
#sync1.owl-theme {
    position: relative;
    .owl-next,
    .owl-prev {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        margin-top: -20px;
        position: absolute;
        background: #fff;
        top: 50%;
    }
    .owl-prev {
        left: -25px;
    }
    .owl-next {
        right: -25px;
    }
}

.slide_nav_thumb {
    background: #4e566d;
    margin-bottom: 3px;
    margin-top: 3px;
}

.table_info thead {
    color: #292c3d;
    font-size: 30px;
    font-family: BebasNeueBold;
    background: #c89f73;
}

.table_info tbody {
    font-size: 20px;
    font-family: 'CenturyGothic';
}

.table-striped.table_info tbody tr:nth-of-type(odd) {
    background-color: #aeb1bc;
}

.main_slider {
    background: #4e566d;
    max-height: 540px;
    overflow: hidden;
    background-size: cover !important;
}

#sync2 .item {
    background: transparent;
    padding: 0;
    cursor: pointer;
    height: 120px;
}

.slide_nav_thumb {
    margin-bottom: 3px;
}

#sync2 .item>div {
    height: 120px;
    overflow: hidden;
    border: 1px solid #fff;
}

#sync1 .owl-item img {
    min-height: 560px;
}

#sync1.owl-theme .owl-next>svg {
    width: 12px;
    font-weight: bold;
}

#sync1.owl-theme .owl-prev>svg {
    width: 10px;
}
.modal_action_form {
    background: #292c3d;
    color: #fff;
}

.modal_action_form
 .modal-header >h5 {
    font-size: 45px;
    color: #c89f73;

}

.modal_action_form
 .modal-header {
    border-bottom: 1px solid #c89f73;
        padding: 0 35px;
}

.modal_action_form
.close {
    font-size: 3.5rem;
    color: #c89f73;
    text-shadow: 0 1px 0 #c89f73;
    opacity: 1;
}

.modal_action_form .modal-body {
    font-size: 18px;
    font-family: 'CenturyGothic';
    padding: 20px 35px;
}

.modal_action_form 
 .btn-primary {
    color: #292c3d;
    background-color: #4e566d;
    border-color: #4e566d;
    font-family: BebasNeueBold;
    font-size: 2rem;
    cursor: pointer;
        border-color: #fff;
    border-width: 3px;
}
.modal_action_form
 .form-control {
    background: #292c3d;
    border-color: #fff;
    border-radius: 0;
    color: #fff;
}